.root2 {
  display: flex !important;
  justify-content: center !important;

  width: 100%;
  height: 100vh;

  align-items: center;

  --blue-color: #483eff;
  --summary-background-color: #f7f4ff;

  --wizard-background-color: white;

  --wizard-background-color2: #f7f4ff;

  background-color: var(--summary-background-color);
}

.wizard {
  display: flex;
  padding: 0.8rem;
  border-radius: 0.8rem;
  max-width: 800px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.wizard-background {
  background-color: var(--wizard-background-color);
}

.wizard-status-panel {
  background-image: url("../requirements/assets/images/bg-sidebar-desktop.svg");
  width: 274px;
  height: 568px;
  border-radius: 0.8rem;
  padding: 1.8rem;
}

.wizard-forms-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  width: 500px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* min-width: 400px; */
}

.content-title {
  font-size: 2rem;
  font-weight: 800;
}

input[type="text"] {
  background-color: var(--wizard-background-color);
  color: black;
  height: 40px;
  border: 1px solid lightgray;
  padding-left: 15px;
  border-radius: 8px;
  font-size: 18px;
  margin: auto;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.bottom-padding-100 {
  padding-bottom: 1rem;
}
.bottom-padding-200 {
  padding-bottom: 2rem;
}

.top-padding-100 {
  padding-top: 1rem;
}

input:focus {
  border: 1px solid black;
  outline: none;
}

.active-duration {
  font-size: 0.8rem;
  font-weight: 900;
  color: black;
}

.inactive-duration {
  font-size: 0.8rem;

  font-weight: 400;
  color: grey;
}

/* label {
  font-weight: 700;
  font-size: 0.8rem;
} */

.input-labels,
.plan-labels,
.step-labels {
  font-weight: 700;
  font-size: 0.8rem;
}

.plan-title {
  font-weight: 700;
  font-size: 1rem;
}

.plan-subtitle {
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.color-black {
  color: black;
}

.color-gray {
  color: #5c5454;
}

.color-white {
  color: white;
}

.color-grayish-red {
  color: #c1a9a9;
}

.color-error {
  color: firebrick;
}

.nav-control-buttons {
  display: flex;
  justify-content: space-between;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  align-items: center;
}

.row-centered {
  justify-content: center;
}

.col-centered {
  justify-content: center;
  align-items: center;
}

.row-space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}
.grow-h {
  width: 100%;
}

.grow-v {
  height: 100%;
}

.gap5 {
  gap: 5px;
}

.gap8 {
  gap: 8px;
}

.uppercase {
  text-transform: uppercase;
}

.plan-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  height: auto;
}

.plan-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--blue-color);
  height: 150px;
  border-radius: 10px;
  padding: 15px;
  align-items: flex-start;
  justify-content: space-between;
}

.selected {
  background-color: var(--wizard-background-color2) !important;
}

.plan-text {
  display: flex;
  flex-direction: column;
}

.monthly-toggle-container {
  width: 100%;
  height: 40px;
  background-color: var(--wizard-background-color2);
}

.addon-item {
  border: 1px solid var(--blue-color);
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  height: 80px;
}

.addon-text {
  padding-left: 30px;
}

@media screen and (max-width: 580px) {
  /* style changes when the screen gets larger */

  .wizard {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--wizard-background-color2);
    height: 100vh;
  }

  .content-title {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .wizard-forms-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 10px;
    width: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  .wizard-status-panel {
    display: flex;
    justify-content: center;
    background-image: url("../requirements/assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
    width: 100vw;
    height: 280px;
    margin-top: -100px;
    padding: 1.8rem;
    border-radius: 0px;
  }

  .subtitle {
    display: none;
  }

  .wizard-forms-panel {
    margin-top: -90px;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    height: calc(100% - 180px);
  }

  input {
    width: 100%;
  }

  .nav-control-buttons {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    left: 0;
    padding-right: 20px;
    padding-left: 23px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }

  .plan-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    height: auto;
  }

  .plan-item {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid var(--blue-color);
    height: 90px;
    border-radius: 10px;
    padding: 15px;
    align-items: flex-start;
    justify-content: unset;
    align-items: center;
  }

  .plan-text {
    padding-left: 15px;
  }

  .months-free {
    /* display: none; */
  }
}

input[type="checkbox"] {
  display: grid;
  width: 1rem;
  height: 1rem;
  place-content: center;
  accent-color: var(--blue-color);
}

input[type="checkbox"]::before {
  content: "";
  width: 5rem;
  height: 5rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.addon-title {
  font-size: 16px;
  font-weight: 800;
}

.addon-subtitle {
  font-size: 13px;
  font-weight: 800;
  color: gray;
}

.summary-container {
  background-color: var(--summary-background-color);
  border-radius: 10px;
  padding: 15px;
}

.summary-plan-item {
  border-bottom: 1px solid black;
}

.summary-subtitle {
  color: gray;
  font-size: 14px;
  font-weight: 600;
}

.summary-title {
  font-size: 16px;
  font-weight: 900;
}

.summary-total {
  padding: 15px;
}

.toggle-wrapper input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-wrapper label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle-wrapper label:after {
  content: "";
  position: absolute;
  top: 3.5px;
  left: 5px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

.toggle-wrapper input:checked + label {
  background: grey;
}

.toggle-wrapper input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle-wrapper label:active:after {
  width: 25px;
}
