.wizard {
  display: flex;
  padding: 0.8rem;
  border-radius: 0.8rem;

  max-width: 800px;
}

.wizard-background {
  background-color: white;
}

.wizard-status-panel {
  background-image: url("../requirements/assets/images/bg-sidebar-desktop.svg");
  width: 274px;
  height: 568px;
  border-radius: 0.8rem;
  padding: 1.8rem;
}

.wizard-forms-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* min-width: 400px; */
}

.content-title {
  font-size: 2rem;
  font-weight: 800;
}

input {
  background-color: white;
  color: black;
  /* width: 100%; */
  height: 40px;
  border: 1px solid lightgray;
  padding-left: 15px;
  border-radius: 8px;
  font-size: 18px;
  margin: auto;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.bottom-padding-100 {
  padding-bottom: 1rem;
}
.bottom-padding-200 {
  padding-bottom: 2rem;
}

input:focus {
  border: 1px solid black;
  outline: none;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
}

.color-black {
  color: black;
}

.color-gray {
  color: #5c5454;
}

.color-white {
  color: white;
}

.color-grayish-red {
  color: #c1a9a9;
}

.nav-control-buttons {
  display: flex;
  justify-content: space-between;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 580px) {
  /* style changes when the screen gets larger */

  .wizard {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #ecf2f7;
    height: 100vh;

    /* height: 200px; */
    /* max-width: 100vw; */
  }

  .content-title {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .wizard-forms-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 10px;
  }

  .wizard-status-panel {
    display: flex;
    justify-content: center;
    background-image: url("../requirements/assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
    width: 100%;
    height: 280px;
    margin-top: -100px;
    padding: 1.8rem;
    border-radius: 0px;
  }

  .column-container {
    display: flex;
    flex-direction: row;
  }

  .subtitle {
    display: none;
  }

  .wizard-forms-panel {
    margin-top: -90px;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    height: calc(100% - 180px);
  }

  input {
    width: 100%;
  }

  .nav-control-buttons {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    left: 0;
    padding-right: 20px;
    padding-left: 23px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
}
