body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ecf2f7;
  background-color: hsl(243, 100%, 62%);
}

* {
  margin: 0;
  padding: 0;
}
/* 
* {
  outline: 3px solid black;
} */

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

input[type="text"] {
  font-size: 24px;
  font-family: "Ubuntu", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--accent-color);
}
